.ability {
    padding: 2pt;
    margin-bottom: 10pt;
    border: 1pt solid black;
    border-radius: 5pt;
}

input {
    text-align: center;
    border-color: black;
    border-top: 0pt;
    border-left: 0pt;
    border-right: 0pt;
    margin-bottom: 2pt;
}
.modifier-block {
    border: 1px solid black;
}

.modifier {
    font-size: 24pt;
}
.value-block {
    border: 1pt solid black;
}
.value {
    font-size: 12pt;
}