<div class="col-2 ability">
  <label for="value" class="col-12">{{name}}</label>
  <input type="text" name="modifierValue" class="col-12 modifier"/>
  <input type="text" name="value" class="col-12 value"/>
</div>
