<div class="row">
  <div class="col-4 character-block">
    <input class="col-12" type="text" name="charactername"/>
    <label for="charactername">Character name</label>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col">
          <input class="col-12" type="text" name="levelclass"/>
          <label for="levelclass">Level & Class</label>
      </div>
      <div class="col">
          <input class="col-12" type="text" name="playername"/>
          <label for="playername">Player name</label>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="col-12" type="text" name="background"/>
            <label for="background">Background</label>
        </div>
        <div class="col">
            <input class="col-12" type="text" name="race"/>
            <label for="race">Race</label>
        </div>
        <div class="col">
            <input class="col-12" type="text" name="experience"/>
            <label for="experience">Experience</label>
        </div>
        <div class="col">
            <input class="col-12" type="text" name="nextlevel"/>
            <label for="experience">Next level</label>
        </div>
        </div>
  </div>   
  </div>