<div class="col">
  <ul>
      <li *ngFor="let template of templates">
          <app-ability-template 
            [name]="template.name" 
            [modifierValue]="template.modifierValue"
            [value]="template.value">
          </app-ability-template>
      </li>
  </ul>
</div>
